# from GitHub template
CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps

Docs/

app.config

# ignore the build folder
Build/
BuildDebug/
BuildRelease/
BuildProfile/
**/*/obj/
**/*/bin/

# IDEs
.vs/
.idea/

# python
**/*/__pycache__
